/*********** My Framework ***********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/*********** Grid system ***********/
@media (max-width: 767px) {
  .iq-xs-1 {
    width: 8.33333%;
    float: left; }

  .iq-xs-2 {
    width: 16.66667%;
    float: left; }

  .iq-xs-3 {
    width: 25%;
    float: left; }

  .iq-xs-4 {
    width: 33.33333%;
    float: left; }

  .iq-xs-5 {
    width: 41.66667%;
    float: left; }

  .iq-xs-6 {
    width: 50%;
    float: left; }

  .iq-xs-7 {
    width: 58.33333%;
    float: left; }

  .iq-xs-8 {
    width: 66.66667%;
    float: left; }

  .iq-xs-9 {
    width: 75%;
    float: left; }

  .iq-xs-10 {
    width: 83.33333%;
    float: left; }

  .iq-xs-11 {
    width: 91.66667%;
    float: left; }

  .iq-xs-12 {
    width: 100%;
    float: left; }

  header a {
    margin: 0 46% 20px 0% !important; }

  /*** sign up form ***/
  .sign-up {
    margin-top: 20px;
    clear: both; }

  h2.h2 {
    text-align: center !important; }

  form.form {
    margin: 2px auto !important; } }
@media (min-width: 768px) {
  .iq-sm-1 {
    width: 8.33333%;
    float: left; }

  .iq-sm-2 {
    width: 16.66667%;
    float: left; }

  .iq-sm-3 {
    width: 25%;
    float: left; }

  .iq-sm-4 {
    width: 33.33333%;
    float: left; }

  .iq-sm-5 {
    width: 41.66667%;
    float: left; }

  .iq-sm-6 {
    width: 50%;
    float: left; }

  .iq-sm-7 {
    width: 58.33333%;
    float: left; }

  .iq-sm-8 {
    width: 66.66667%;
    float: left; }

  .iq-sm-9 {
    width: 75%;
    float: left; }

  .iq-sm-10 {
    width: 83.33333%;
    float: left; }

  .iq-sm-11 {
    width: 91.66667%;
    float: left; }

  .iq-sm-12 {
    width: 100%;
    float: left; }

  header a {
    margin: 0 25% 20px 0% !important; } }
@media (min-width: 992px) {
  .iq-md-1 {
    width: 8.33333%;
    float: left; }

  .iq-md-2 {
    width: 16.66667%;
    float: left; }

  .iq-md-3 {
    width: 25%;
    float: left; }

  .iq-md-4 {
    width: 33.33333%;
    float: left; }

  .iq-md-5 {
    width: 41.66667%;
    float: left; }

  .iq-md-6 {
    width: 50%;
    float: left; }

  .iq-md-7 {
    width: 58.33333%;
    float: left; }

  .iq-md-8 {
    width: 66.66667%;
    float: left; }

  .iq-md-9 {
    width: 75%;
    float: left; }

  .iq-md-10 {
    width: 83.33333%;
    float: left; }

  .iq-md-11 {
    width: 91.66667%;
    float: left; }

  .iq-md-12 {
    width: 100%;
    float: left; } }
@media (min-width: 1200px) {
  .iq-lg-1 {
    width: 8.33333%;
    float: left; }

  .iq-lg-2 {
    width: 16.66667%;
    float: left; }

  .iq-lg-3 {
    width: 25%;
    float: left; }

  .iq-lg-4 {
    width: 33.33333%;
    float: left; }

  .iq-lg-5 {
    width: 41.66667%;
    float: left; }

  .iq-lg-6 {
    width: 50%;
    float: left; }

  .iq-lg-7 {
    width: 58.33333%;
    float: left; }

  .iq-lg-8 {
    width: 66.66667%;
    float: left; }

  .iq-lg-9 {
    width: 75%;
    float: left; }

  .iq-lg-10 {
    width: 83.33333%;
    float: left; }

  .iq-lg-11 {
    width: 91.66667%;
    float: left; }

  .iq-lg-12 {
    width: 100%;
    float: left; } }
/****** end grid ******/
a {
  text-decoration: none;
  color: #fff; }

.clear {
  clear: both; }

span {
  color: #f00;
  font-weight: bold; }

.center {
  text-align: center; }

.input-form {
  padding: 10px 0 10px 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 3px solid #45a6f9;
  background: none;
  outline: none; }

.btn-iq-sign {
  border: none;
  background: #45a6f9;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer; }
  .btn-iq-sign:hover {
    box-shadow: 2px 2px 3px #000;
    -webkit-box-shadow: 2px 2px 3px #000;
    -moz-box-shadow: 2px 2px 3px #000;
    -o-box-shadow: 2px 2px 3px #000; }
  .btn-iq-sign:fucos {
    box-shadow: 2px 2px 3px #000;
    -webkit-box-shadow: 2px 2px 3px #000;
    -moz-box-shadow: 2px 2px 3px #000;
    -o-box-shadow: 2px 2px 3px #000; }

.icon {
  position: absolute !important;
  top: 8px;
  left: 12px;
  font-size: 20px;
  color: #cabfbf; }

/*********** header ***********/
header {
  background-color: #444; }

/*********** Logo ***********/
header h2 {
  padding: 8px 6px;
  font-size: 40px;
  color: #fff;
  height: 100%; }

/*********** Form Login ***********/
header form {
  height: 100%;
  padding: 18px 0 0; }

header form div {
  position: relative;
  display: inline-block; }

header form .input {
  margin-bottom: 12px; }

header form .input:focus {
  outline: none; }

header form input[type='submit'] {
  border: none;
  background-color: #45a6f9;
  color: #fff;
  padding: 7px 19px; }

header form input[type='submit']:hover {
  box-shadow: 1px 1px 3px #fff;
  -webkit-box-shadow: 1px 1px 3px #fff;
  -moz-box-shadow: 1px 1px 3px #fff;
  -o-box-shadow: 1px 1px 3px #fff;
  cursor: pointer; }

header a {
  float: right;
  margin: 0 28% 20px 28%; }

header a:hover {
  color: #45a6f9; }

/*********** body info ***********/
.body .information {
  padding: 40px 5% 0 8%; }

.body .information h3,
.body .information p {
  padding-bottom: 20px; }

.body .information p {
  line-height: 1.6; }

.body .information p .skils {
  color: #45a6f9; }

.body .information .clean-code i,
.body .information .serves i,
.body .information .support i {
  background-color: #444;
  font-size: 40px;
  padding: 20px;
  margin: 2% 30%;
  color: #fff;
  border-radius: 50%; }

.body .information .clean-code h3,
.body .information .serves h3,
.body .information .support h3 {
  padding-top: 5px;
  color: #45a6f9; }

.body .information .clean-code p,
.body .information .serves p,
.body .information .support p {
  padding: 0 3px; }

/*********** body form sgin up ***********/
.sign-up h2 {
  padding: 40px 0; }

.sign-up form {
  width: 90%; }

.sign-up form div {
  position: relative !important; }

.sign-up form .full-width {
  width: 100%; }

.sign-up div select {
  height: 30px;
  padding: 5px;
  margin-top: 10px; }

.sign-up .sign {
  margin: 30px 0 40px 35%; }

/*********** footer ***********/
footer {
  background-color: #444;
  padding: 10px 0; }
  footer .social a {
    margin: 0 6px; }
    footer .social a i {
      margin: 10px 0;
      padding: 8px 0;
      height: 30px;
      width: 30px;
      background: #fff;
      color: #000;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out; }
    footer .social a .fa-facebook:hover {
      color: #3b5998; }
    footer .social a .fa-facebook:focus {
      color: #3b5998; }
    footer .social a .fa-twitter:hover {
      color: #1da1f2; }
    footer .social a .fa-twitter:focus {
      color: #1da1f2; }
    footer .social a .fa-linkedin:hover {
      color: #0077b5; }
    footer .social a .fa-linkedin:focus {
      color: #0077b5; }
    footer .social a .fa-github:hover {
      color: #6e5494; }
    footer .social a .fa-github:focus {
      color: #6e5494; }

@media (max-width: 554px) {
  .information .clean-code {
    width: 50% !important; }
  .information .serves {
    width: 50% !important; }
  .information .support {
    width: 50% !important; } }
@media (max-width: 507px) {
  header a {
    margin: 10px 38% 10px 0px !important; } }
@media (max-width: 438px) {
  header form input[type=submit] {
    display: block;
    margin: 2px auto; } }
@media (max-width: 380px) {
  .information .clean-code {
    width: 100% !important;
    padding-bottom: 30px; }
    .information .clean-code i {
      margin-left: 36% !important; }
  .information .serves {
    width: 100% !important;
    padding-bottom: 30px; }
    .information .serves i {
      margin-left: 36% !important; }
  .information .support {
    width: 100% !important;
    padding-bottom: 30px; }
    .information .support i {
      margin-left: 36% !important; } }


